Checks: >
  clang-analyzer-*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
#   performance-*,
#   readability-*,
#   modernize-*,
#   -modernize-use-trailing-return-type,
#   cppcoreguidelines-*,
#   -cppcoreguidelines-pro-type-vararg,
#   -cppcoreguidelines-owning-memory
HeaderFilterRegex: '/ugly-duckling/(main|components)/'
