[submodule "components/SHT31"]
	path = components/SHT31
	url = https://github.com/RobTillaart/SHT31
[submodule "components/SHT2x"]
	path = components/SHT2x
	url = https://github.com/RobTillaart/SHT2x
[submodule "components/OneWire"]
	path = components/OneWire
	url = https://github.com/PaulStoffregen/OneWire
[submodule "components/DallasTemperature"]
	path = components/DallasTemperature
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library
[submodule "components/BH1750"]
	path = components/BH1750
	url = https://github.com/claws/BH1750
[submodule "components/Adafruit_TSL2591_Library"]
	path = components/Adafruit_TSL2591_Library
	url = https://github.com/adafruit/Adafruit_TSL2591_Library
[submodule "components/Adafruit_Sensor"]
	path = components/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "components/Adafruit_BusIO"]
	path = components/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
