CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Allow some more heap to be used
CONFIG_HEAP_PLACE_FUNCTION_INTO_FLASH=y
CONFIG_RINGBUF_PLACE_FUNCTIONS_INTO_FLASH=y
# We are not brave enough to place ISR functions into flash
CONFIG_RINGBUF_PLACE_ISR_FUNCTIONS_INTO_FLASH=n
CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y

CONFIG_ESP_WIFI_IRAM_OPT=n
CONFIG_ESP_WIFI_EXTRA_IRAM_OPT=n
CONFIG_ESP_WIFI_RX_IRAM_OPT=n
CONFIG_ESP_WIFI_SLP_IRAM_OPT=n
# These are useless for a non-battery-driven device
CONFIG_PM_SLP_IRAM_OPT=n
CONFIG_PM_RTOS_IDLE_OPT=n

# Give us more DIRAM
ESP32_WIFI_DYNAMIC_TX_BUFFER=y
CONFIG_ESP32_WIFI_STATIC_RX_BUFFER_NUM=4
CONFIG_ESP32_WIFI_DYNAMIC_RX_BUFFER_NUM=8
CONFIG_ESP32_WIFI_STATIC_TX_BUFFER_NUM=4
CONFIG_ESP32_WIFI_DYNAMIC_TX_BUFFER_NUM=8

# We don't actually need the most efficient power management on the MK4, so let's save some memory instead
# This is supposed to save 8.58 kB of IRAM
CONFIG_PM_POWER_DOWN_CPU_IN_LIGHT_SLEEP=n
# This is supposed to save 9 kB of IRAM
CONFIG_PM_RESTORE_CACHE_TAGMEM_AFTER_LIGHT_SLEEP=n
# This is not enabled by default, but let's make sure it is explicitly disabled for MK4
CONFIG_PM_POWER_DOWN_PERIPHERAL_IN_LIGHT_SLEEP=n
# This is supposed to save 4 kB of IRAM
CONFIG_ESP_PHY_MAC_BB_PD=n

# # Reduce memory usage when using SSL -- https://docs.espressif.com/projects/esp-idf/en/v5.4/esp32/api-reference/protocols/mbedtls.html#reducing-heap-usage
CONFIG_MBEDTLS_SSL_KEEP_PEER_CERTIFICATE=n
CONFIG_MBEDTLS_DYNAMIC_BUFFER=y
CONFIG_MBEDTLS_DYNAMIC_FREE_CONFIG_DATA=y
CONFIG_MBEDTLS_DYNAMIC_FREE_CA_CERT=y
CONFIG_MBEDTLS_ASYMMETRIC_CONTENT_LEN=y

# # Changing the buffer length via these options results in mbedTLS errors (-0x7100 etc.)
# # when downloading updates from GitHub -- https://github.com/kivancsikert/ugly-duckling/issues/386
# CONFIG_MBEDTLS_SSL_VARIABLE_BUFFER_LENGTH=y
# CONFIG_MBEDTLS_SSL_IN_CONTENT_LEN=4096
# CONFIG_MBEDTLS_SSL_OUT_CONTENT_LEN=4096
