# Make sure to delete sdkconfig.* after making changes here
# so that they get regenerated!

# Won't compile without this
CONFIG_FREERTOS_HZ=1000

# Won't compile without this
CONFIG_ESP_TLS_PSK_VERIFICATION=y

# We don't need secure Boot
CONFIG_SECURE_BOOT=n
CONFIG_SECURE_FLASH_ENC_ENABLED=n

# We want to use exceptions
CONFIG_CXX_EXCEPTIONS=y

# Less chatty
CONFIG_BOOTLOADER_LOG_LEVEL_ERROR=y
CONFIG_LOG_DEFAULT_LEVEL_WARN=y

# Seems like a good idea to have some stack checs
CONFIG_COMPILER_STACK_CHECK_MODE_NORM=y

# This is ERROR by default
CONFIG_ARDUHAL_LOG_DEFAULT_LEVEL_WARN=y

# Why compile more than necessary?
CONFIG_ARDUINO_SELECTIVE_COMPILATION=y

# Enable automatic light sleep
CONFIG_PM_ENABLE=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y

# Give peripheral-related tasks to have some length to their names
CONFIG_FREERTOS_MAX_TASK_NAME_LEN=32
